.button {
    padding: 8px 16px;
    border: 1px solid #000;
    border-radius: 8px;
    width: fit-content;
    transition: 0.3s;
}

.button:hover {
    background-color: #000;
    color: #fff;
}

.button:disabled {
    color: #00000030;
    border: 1px solid #00000030;
}

.button:disabled:hover {
    background-color: #fff;
    color: #00000030;
    cursor: not-allowed;
    border: 1px solid #00000030;
}
